In [15]:
import pylab as pl
import pandas as pd
import numpy as np
import csv
import json
import sys

%pylab inline

Populating the interactive namespace from numpy and matplotlib

#Idea: riders in Brooklyn are younger than riders in Manhattan

##Null hypothesis: the average age of subscribers who start rides in Brooklyn stations is greater or the same as subscribers who start rides in Manhattan stations

##Alternative hypothesis: the average of subscribers who start rides in Brooklyn stations is lower than that of subscribers who start rides in Manhattan stations

In [16]:
df = pd.read_csv('201410-citibike-tripdata.csv')
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,828711.000000,828711.000000,828711.000000,828711.000000,828711.000000,828711.000000,828711.000000,828711.000000,759624.00000,828711.000000
mean,883.696671,442.428358,40.734902,-73.991001,432.306155,40.734668,-73.991142,18095.613427,1976.41331,1.123988
std,9824.519412,348.788004,0.018931,0.011967,317.420499,0.018883,0.011999,2060.397925,11.48124,0.525367
min,60.000000,72.000000,40.680342,-74.017134,72.000000,40.680342,-74.017134,14529.000000,1899.00000,0.000000
25%,389.000000,304.000000,40.722055,-73.999733,303.000000,40.722174,-73.999947,16339.000000,1969.00000,1.000000
50%,609.000000,404.000000,40.736494,-73.990765,403.000000,40.736245,-73.990931,18096.000000,1979.00000,1.000000
75%,980.000000,490.000000,40.749718,-73.982578,488.000000,40.749013,-73.982912,19828.000000,1985.00000,1.000000
max,5416640.000000,3002.000000,40.771522,-73.950048,3002.000000,40.771522,-73.950048,21690.000000,1998.00000,2.000000

In [27]:
jsonFile = open('stations.json','r')
data = json.load(jsonFile)
stations = data['stationBeanList']

with open('stationsIdLatLong.csv','wb') as csvFile:
    writer = csv.writer(csvFile)
    for s in stations:
        stationName = s['id']
        stationLat = s['latitude']
        stationLong = s['longitude']
        row = [stationName,stationLat,stationLong]
        writer.writerow(row)